* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
  position: relative;
}
.app__left {
  flex: 0.9;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.cardBar {
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.search-container{
  position:relative;
  display:  flex; 
  align-items: center;
  max-width: auto;
  background-color: gray;
  background-color: rgba(243, 244, 246, 1);	
  border-width: 1px;
  border-radius: 0.25rem;
  z-index: 1000;
}
.search-container:hover{
  border-color: rgba(59, 130, 246, 1);	
  background-color: rgba(255, 255, 255, 1);	
}

.search-container .icon {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.75rem;
  color: rgba(107, 114, 128, 1);	

}

.search-container .search-input {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.75rem;
  background-color: transparent;	
  border-radius: 0.25rem;
  width: 100%;
}

.search-container .search-input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.search-container .search-list {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  overflow: scroll;
  height: 500px;
}
.search-container .search-list .search-item {
  display: flex;
  justify-content: center;
  align-items: ite;
  padding-left: 0.75rem 1rem 0.75rem 1rem;
  cursor: pointer;

}

.search-container .search-list .search-item:hover {
  background-color: rgba(229, 231, 235, 1);	
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent
}